*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 100vh;
    background: url("images/bg1.jpg");
    background-size: cover;
    position: relative;
    font-family: "Roboto", sans-serif;
}

nav{
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo{
    font-size: 2em;
}

.menu a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    font-size: 1.2rem;
    border-bottom: 1px solid orange;
    border-radius: 50%;
}

.link a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-bottom: 1px solid orange;
    border-radius: 50%;
}

.container{
    color: white;
    position: absolute;
    top: 15%;
    right: 10%;
    padding: 20px;
    width: 400px;
    height: 540px;
    border-radius: 18px;
}

.container h1{
    font-size: 5em;
}

#read{
    color: orange;
}

.container p{
    text-align: justify;
    margin: 15px 0;
    line-height: 1.5rem;
}

.send{
    width: 100%;
    position: relative;
    background: orange;
}

#email{
    width: 80%;
    height: 40px;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
}

#btn{
    width: 30%;
    height: 70px;
    padding: 5px 20px;
    font-size: 18px;
    position: absolute;
    right: 5%;
    top: -15px;
    background: orange;
    border: none;
    outline: none;
    border-radius: 50%;

}

.icons{
    margin-top: 30px;
}

.icons i{
    font-size: 30px;
    margin: 0 15px;
}